*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  width: 60%;
  margin: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav> *{
  margin-left: 2rem;
}

nav select{
  border: none;
  font-size: 1.2rem;
}

button{
  font-size: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 50px;
}

main{
  padding: 4rem;
  background-color: lightblue;
}

.container{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.container.bg-black{
  background-color: black;
}

#game_box{
  width: 600px;
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.game_over{
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.game_card:hover{
  background-color: aqua;
}

.game_card{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_card.clicked{
  background-color: azure;
}

.game_card.clicked.red{
  background-color: brown;
  color: white;
}

.counter{
  margin: 3rem 0 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.counter span{
  margin-right: .5rem;
}

