*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  width: 60%;
  margin: auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav> *{
  margin-left: 2rem;
}

nav select{
  border: none;
  font-size: 1.2rem;
}

button{
  font-size: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 50px;
}

main{
  padding: 4rem;
  background-color: lightblue;
}

.container{
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
}

#popup-over,
#popup-win{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.716);
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

.counter{
  font-size: 2rem;
  text-transform: lowercase;
  margin: 3rem 0 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter span{
  margin-right: 1rem;
}

#game_box{
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.game_card:hover{
  background-color: aqua;
}

.game_card{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game_card.clicked{
  background-color: azure;
}

.game_card.clicked.red{
  background-color: brown;
}
